.autocompleteWidth {
	width: 100%;
}
.logoBar {
	padding: 20px 0 20px 0;
	background-color: #f6f6f6;
}

.topBar {
    border-bottom: 1px solid transparent;
    font-size: 12px;
    padding: 0!important;
    height: 35px;
	margin: 0!important;
}

.ulReset {
    padding-left: 0;
   margin-top: 0;
   margin-bottom: 0;
	list-style: none;
}

a:hover, a:visited, a:link, a:active
 {
    text-decoration: none;
}





/* #Mega Menu Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

 
 

/* #Browser Clearfix
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.cf:before,
.cf:after {
	content: " "; /* 1 */
   display: table; /* 2 */
}
.cf:after {clear: both;}



.logoBarLogo {
height: 50px;
margin-left: 0px;
cursor: pointer;
}



.lighterText {
	color: #ABB0BE;
  }
  
  .mainColorText {
	color: #003644;
  }
  

  .nav {
	padding: 10px 0 30px 0;
	color:#fff;
	box-shadow: 2px 4px 3px 4px #f6f6f6;
    background-color:#003644;
    border-bottom: 1px solid transparent;
	font-size: 12px;
  }
  .nav .navbarLeft {
	float: left;
  }
  .nav .navbarRight {
	float: right;
  }
  .nav ul li {
	display: inline;
	padding-right: 20px;
  }
  .nav ul li a {
	color: #fff;
	text-decoration: none;
  }

 


.dropDown {
	margin: 0px 0;
    background: white;
    box-shadow: 2px 5px 7px #e9e6e6;
	position: absolute;
	z-index: 99999999;
	border-radius: 3px;
	padding: 20px;
  }


  @media (min-width:700px) {
	.dropDown {
		right:200px;
		width: 320px;
	}	
}


@media (max-width:700px) {
	.dropDown {
		right:0px;
		width: 100%;

	}	
}


  .dropDown .dropDownHeader {
	padding-bottom: 15px;
  }
  .dropDown .dropDownHeader .dropDownTotal {
    float: right;
    font-size: 14px;
    font-weight: 900;
  }

  .dropDown:after {
	bottom: 100%;
	left: 89%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: white;
	border-width: 8px;
	margin-left: -8px;
  }
  
  .button {
	background: #0E5FBD;
	color: white;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	display: block;
	border-radius: 3px;
	font-size: 16px;
	margin: 25px 0 15px 0;
  }
  .button:hover {
    background: #fff;
    border: 1px solid #0E5FBD;
    color:#0E5FBD
  }

  .menuButton {
	background: #0E5FBD;
	color: white;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	display: block;
	border-radius: 3px;
	font-size: 16px;
	margin: 25px 0 15px 0;
  }
  .mousePointer {
	  cursor: pointer;
  }
   